body {
    background-color: cornsilk;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    width: auto;
    display: block;
}

nav {
    background-color: #283618;
    color: white;
    font-size: 1em;
    text-align: right;
    font-family: Arial, sans-serif;
    padding: 8px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}

div {
    text-align: center;
    font-family: Arial;
    font-size: 1.19em;
    padding: 15px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.old, .new, .confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 30px 50px;
}

.old label, .new label, .confirm label {
    width: 220px;
    text-align: right;
}

.old input, .new input, .confirm input {
    width: 400px;
    height: 22px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}

.final {
    text-align: center;
    margin-top: 20px;
}

.final input {
    padding: 11px 30px;
    margin: 0;
}

.final input[type="submit"] {
    color: black;
    font-weight: bold;
}