# IntelliJ
.idea/
*.iml

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# API Keys and Secrets and Files
#config/api-keys.php
config/*.local.php
#config/config.php
#config/db.php
*.key
secrets.json